[aria-label="breadcrumb"]
  margin 1em 0

.link-list
  display flex
  flex-wrap wrap

  .btn
    flex 0 1 15%
    margin-left 2%
    word-break break-all

    &:nth-child(6n+1)
      margin-left 0

    &:nth-child(n+7)
      margin-top .5rem

.preview
  margin-top 1rem
  img
    max-width 100%
